<%
password_error =  @user.errors.full_messages.any? do |error| 
  error.match /password/i
end
%>

<% if password_error %>
  <div class="field_with_errors">
<% end %>

  <div class="field ">
    <%= @f_for_partial.label :password_confirmation, "Password confirmation:" %>
  </div>
  <div>
    <%= @f_for_partial.password_field :password_confirmation %>
  </div>

<% if password_error %>
  </div>
<% end %>



