<!DOCTYPE html>
<html>
  <head>
    <title>Grant's website | <%= @title %></title>
  </head>
  <body>
    <p>Grant can be contacted through the main office at Paramount Studios.</p>
  </body>
</html>

